.primary-color {
  color: #66fcf1;
}
.primary-background-color {
  background-color: #dfdbdc;
}
.secondary-background-color {
  background-color: #66fcf1;
}
.main-container {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.main-text {
  text-align: center;
  padding-top: 20px;
}
.gatech-icon {
  width: 50%;
}
.footer {
  text-align: center;
  border-radius: 10px;
}
.icon-style {
  padding: 5px;
}
.img-thumbnail {
  border: 0;
  padding: 0;
  float: right;
}

.remove-padding {
  padding-right: 0;
}

.select {
  font-weight: bold;
  color: #66fcf1 !important;
}
.hover {
  cursor: pointer;
}
.padding-all-around {
  padding: 10px;
}
.experience_date {
  float: right;
}

.block {
  display: block;
  margin: 10px 0px 10px 0px;
}

.center {
  align-self: center;
}

@media only screen and (min-width: 750px) {
  .img {
    height: 500px;
  }
}
@media only screen and (max-width: 750px) {
  .img {
    height: 200px;
    margin-top: 50%;
    margin-bottom: 50%;
  }
}
